<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
      <add key="HEIGHT" value="51"/>
      <add key="WIDTH" value="26"/>
      <add key="EMPTY_CELL" value="a"/>
      <add key="HOR_BORDER_CELL" value="b"/>
      <add key="VER_BORDER_CELL" value="c"/>
      <add key="WALL_CELL" value="d"/>
      <add key="TARGET_CELL" value="e"/>
      <add key="PLAYER_CELL" value="f"/>
      <add key="GUNMAN_CELL" value="g"/>
      <add key="ENEMY_CELL" value="h"/>
  </appSettings>
</configuration>
