<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net48" requireReinstallation="true" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net48" requireReinstallation="true" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" requireReinstallation="true" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>